* {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;

}

/**CSS HEADER**/
header {
    width: 100%;
    background-color: rgb(7, 7, 7);
    background-image: linear-gradient(to right, #537895, #000000);
}

/**CSS Menu de NAV**/
.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.nav li {
    list-style: none;
    margin: 20px;
    transform: scale(1.2);
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
}

.nav a {
    margin: 30px;
    color: white;
}

.nav img {
    width: 137px;
    margin-left: -26px;
}

.nav li a:hover {
    color: crimson;
}

.nav li:hover {
    transform: scale(1.3);
}
.nav2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.nav2 li{
    list-style: none;
    margin: 20px;
    transform: scale(1.2);
}
.nav2 ul{
    display: flex;
    flex-wrap: wrap;
}
.nav2 a{
    margin: 30px;
    color: white;
}
.nav2 img{
    width: 137px;
    margin-left: -26px;
}
.nav2 li a:hover{
    color: crimson;
}
.nav2 li:hover{
    transform: scale(1.3);
}
.nav2 a img{
    width: 25px;
}
/**CSS INDEX**/
h1 {
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

h1:hover {
    transform: scale(1.2);
    color: rgb(146, 140, 142);
}

.btn-primary {
    background-color: rgb(91, 92, 91);
    background-image: linear-gradient(to right, #000000, #537895);
}

.container {
    width: 100%;
    margin-top: 150px;
}

.row{
    width: 100%;
}

.col {
    padding: 20px;
}

/**CSS Main Index**/
main {
    background-image: linear-gradient(to right, #000000, #537895);
    color: white;
    }

.boton-inicio {
    width: 100%;
    display: flex;
    padding: 140px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.btn-secondary {
    background-image: linear-gradient(to right, #000000, #537895);
}

/**CSS Descargas Peliculas**/

.container {
    width: 100%;
    margin-top: 0;
    flex-wrap: wrap;
}

/**CSS Descargas Series**/



/**CSS Descargas Muscia**/
.container{
    display: flex;
}
.container text-center{
    display: flex;
    
}
.row{
    justify-content: space-around;
}
/**CSS Registro**/
.form-section{
    min-height: 100vh;
    padding: 1px;
}
/**CSS Footer**/
footer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-image: linear-gradient(to right, #537895, #000000);
    color: white;
    }
    .btn-dark img{
        width: 40px;
}
@media (max-width: 375px){
    .nav{display: none;

    }
    .container {
        color: rgb(255, 166, 0);
    }
}
@media (min-width: 376px){
    .nav2{
        display: none;
    
    }
  }